# Virtual Environment
venv/

# Notebook Folder
Notebook/dataset_statisticscode_detail.txt
Notebook/forStudypurpose.txt

# Python Cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Mac Files
.DS_Store

# Environment Variables
.env

# README.md/ for me 
README.md/

# dataset
archive/
